@charset "UTF-8";

:root {
  --cormain: #5f2c82;
  --corbotoes: #49a09d;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cormain);
  width: 100vw;
  height: 100dvh;
}

section {
  position: relative;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  min-width: 270px;
  max-width: 270px;
}

img {
  width: 270px;
  height: 270px;
  border-radius: 10px 10px 0px 0px;
}

div {
  padding: 10px;
}

div#img {
  padding: 0px;
}

div > h1 {
  text-align: center;
  padding: 10px;
}

div > p {
  font-weight: 0.9em;
  padding: 5px;
}

label {
  width: 242px;
  position: relative;
  background-color: var(--cormain);
  color: white;
  display: block;
  border-radius: 5px;
  margin: auto;
  height: 35px;
  margin-bottom: 3px;
  padding: 1px;
  margin-top: 0;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

input {
  padding-top: 3px;
  background-color: var(--corbotoes);
  color: black;
  width: 209px;
  height: 32px;
  border-radius: 5px;
  color: var(--corbotoes);
  color: black;
  border: none;
}

.send {
  display: block;
  text-align: center;
  margin: auto;
  background-color: white;
  color: var(--corbotoes);
  border: 1px solid var(--corbotoes);
  border-radius: 5px;
  padding: 10px;
  width: 242px;
  margin: 5px;
  height: 35px;
}

.send:hover {
  color: white;
  background-color: var(--corbotoes);
}
